@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	--dark-body-bg: rgba(11, 16, 29);
	--light-body-bg: rgb(240, 244, 255);
	--scroll-thumb-bg: #5e7eff;
	font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar {
	background: var(--light-body-bg);
	width: 10px;
}
html.dark ::-webkit-scrollbar {
	background: var(--dark-body-bg);
	width: 10px;
}
::-webkit-scrollbar-thumb {
	background-color: var(--scroll-thumb-bg);
	border-radius: 2rem;
	border: 3px solid var(--light-body-bg);
}
html.dark ::-webkit-scrollbar-thumb {
	background-color: var(--scroll-thumb-bg);
	border-radius: 2rem;
	border: 3px solid var(--dark-body-bg);
}
body {
	background: rgb(255, 255, 255);
	scroll-behavior: smooth;
}
.dark body {
	background: var(--dark-body-bg);
}

.background__img {
	background-image: url(assets/images/background-img.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.hero__img {
	background-image: url(assets/images/hero-img.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	box-shadow: inset 0 0 0 9px rgb(255 255 255 / 30%);
	order: 1;
	justify-self: center;
	width: 400px;
	height: 400px;
	animation: profile_animate 8s ease-in-out infinite 1s;
}

@keyframes profile_animate {
	0% {
		border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
	}
	50% {
		border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
	}
	100% {
		border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
	}
}
/*
ion-icon {
	font-size: 1.5rem;
	line-height: 1.75rem;
} */
